<nav class="top-nav">
  <a href="#" class="top-nav-link">
    <i class="fa-regular fa-comment-dots"></i> Atendimento
  </a>
  <a href="#" class="top-nav-link">
    <i class="fa-solid fa-house"></i> Anuncie sua propriedade
  </a>
  <a href="#" class="top-nav-link">Ajuda</a>
  <button class="account-btn" aria-label="Minha Conta">
    <i class="fa-regular fa-user"></i> Minha Conta
  </button>
  <a href="#" class="top-nav-link cart-link">
    <i class="fa-solid fa-cart-shopping"></i> Carrinho
  </a>
</nav>
